<BODY style="MARGIN: 10px"><DIV></DIV>
<DIV>
<DIV id=FMOriginalContent class=FoxDiv20150626184745823514>
<BLOCKQUOTE style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 2em">
<DIV>
<DIV class=FoxDiv20150626171422166089>
<DIV>
<DIV class=FoxDiv20150626165311037228>
<DIV style="LINE-HEIGHT: 1.7; FONT-FAMILY: Arial; COLOR: #000000; FONT-SIZE: 14px">
<DIV id=isForwardContent>
<DIV style="BACKGROUND-IMAGE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 40px; BACKGROUND-COLOR: #d0d0d0; PADDING-LEFT: 40px; PADDING-RIGHT: 40px; PADDING-TOP: 40px">
<DIV style="BORDER-BOTTOM: #aaa 0px solid; BORDER-LEFT: #aaa 0px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 640px; PADDING-RIGHT: 10px; FONT-FAMILY: Verdana, sans-serif; COLOR: #333; BORDER-TOP: #aaa 0px solid; BORDER-RIGHT: #aaa 0px solid; PADDING-TOP: 10px; border-radius: 5px; -webkit-box-shadow: 3px 3px 10px #999; -moz-box-shadow: 3px 3px 10px #999; box-shadow: 3px 3px 10px #999" class=mmsgLetter>
<DIV style="BACKGROUND: repeat-x 0px 0px; HEIGHT: 23px" class=mmsgLetterHeader></DIV>
<DIV style="TEXT-ALIGN: left; PADDING-BOTTOM: 10px; LINE-HEIGHT: 1.5; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; BACKGROUND: no-repeat right top; FONT-SIZE: 14px; PADDING-TOP: 30px" class=mmsgLetterContent>
<P></P>
<TABLE width ="580px">
<TR>
<TD>
<DIV width ="70%" style="float:left;">
<IMG SRC = "http://m.airchina.com.cn/ac/assets/i/mailTitle.jpg"/>
</DIV>
<DIV width ="30%"  style="float:right;">
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">中国国际航空股份有限公司</P>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">国航销售服务热线：95583</P>
</DIV>
</TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">非常感谢您选乘中国国际航空股份有限公司的航班。您所订行程已以电子客票形式出票完成。</P>
</TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">Thank you for choosing to choosing with Air China Ltd.Your purchase is now complete and your reservation has been electronically ticketed.</P>
</TD>
</TR>
<TR>
<TD>
<BR></TD>
</TR>
<TR style="background-color:#58bbc5;">
<TD>
<DIV width ="100%"><P style="MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; font-weight:bolder;">订单确认 Booking Confirmation</P>
</DIV>
</TD>
</TR>
<TR>
<TD>
<TABLE width ="50%" style="float:left;"><TR colspan="2">
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">订单号 Order No.：</P>
</TD>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">160708140132408084</P>
</TD>
</TR>
<TR>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">预订日期 Order Time：</P>
</TD>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">星期五,2016年07月08日</P>
</TD>
</TR>
</TABLE>
<TABLE width ="50%" style="float:right;"><TR>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">主要联系人Contgact：</P>
</TD>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">徐朴子
</TD>
</TR>
<TR>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">电子邮件 Email：</P>
</TD>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">tanyanbing@airchina.com</P>
</TD>
</TR>
<TR>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">手机号码 Contact Phone No：</P>
</TD>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">15210255029</P>
</TD>
</TR>
</TABLE>
</TD>
</TR>
<TR>
<TD><P style="MARGIN-TOP: 10px; MARGIN-BOTTOM: 0px; FONT-SIZE: 14px; font-weight:bolder;">乘客信息 Passenger Information：</P>
</TD>
</TR>
<TR>
<TD><hr></TD>
</TR>
<TR>
<TD><TABLE><TR style="background-color:#afc1af;">
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">姓名（姓/名）Name(last name/Sumname First/Given name)</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">旅客类型Passenger Type</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">旅客证件Travel Document</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">票号Ticket Number</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">手机号Phone No</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">知音卡号Phoenix Miles</P></TD><TR>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">常成人</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">成人</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">11010519850821865X</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">无</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">15210255029</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">无</P></TD></TR></TABLE></TD>
</TR>
<TR>
<TD><hr></TD>
</TR>
<TR>
<TD><P style="MARGIN-TOP: 10px; MARGIN-BOTTOM: 0px; FONT-SIZE: 14px; font-weight:bolder;">航班行程明细Itinerary</P>
</TD>
</TR>
<TR>
<TD><hr></TD>
</TR>
<TR>
<TD><TABLE><TR style="background-color:#afc1af;">
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">出发日期Departure Date</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">航班号Flight No.</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">出发地From</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">到达地To</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">票价类型Fare class</P></TD><TR>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">2016年08月31日星期三
31-AUG-2016</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">CA1119</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">北京首都国际机场(PEK)
T3航站楼
06:35:00</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">大同机场(DAT)
--航站楼
07:45:00</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">经济特价(S1)</P></TD></TR></TABLE></TD>
</TR>
<TR>
<TD><hr></TD>
</TR>
<TR>
<TD><P style="MARGIN-TOP: 10px; MARGIN-BOTTOM: 0px; FONT-SIZE: 14px; font-weight:bolder;">航程费用明细 Fare Details（单位：人民币CNY）</P>
</TD>
</TR>
<TR>
<TD><hr></TD>
</TR>
<TR>
<TD><TABLE width ="100%"><TR style="background-color:#afc1af;">
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">旅客类型Passenger Type</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">基本费用 Fare每位旅客 per person</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">税费 Taxes每位旅客 per person</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">总费用 Total每位旅客 per person</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">旅客总数 Passenger No.</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">总费用 Total</P></TD></TR><TR>
<TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">成人</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">250</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">50</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">300.0</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">x 1</P></TD><TD><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px">300.0</P></TD></TR></TABLE></TD>
</TR>
<TR>
<TD>
<hr></TD>
</TR>
<TR>
<TD>
<BR></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px; font-weight:bolder;">PEK-DAT:经济特价 票价说明Fare Rules（客票必须顺序使用Ticket must be used following the sequence of the flights segments ,otherwise it will be void. ）</P></TD>
</TR>
<TR>
<TD>
<BR></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px; font-weight:bolder;">退改说明</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; font-weight:bolder;">变更手续费：</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;">起飞前：30%，起飞后：50%，如产生票价差，需加收差价费用。</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; font-weight:bolder;">退票手续费：</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;">起飞前：50%，起飞后：未使用航段只退税费，如部分使用后退票，退款金额将扣减已使用航段适用价格和税费后重新计算。</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px; font-weight:bolder;">里程说明</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>是否赠送额外里程:</B>否</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; font-weight:bolder;">国航实际承运航班里程累计:</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">S舱:50%（非国航实际承运航班里程累积以实际承运航空公司办理值机登记时的实际接收舱位为准。）</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>里程升舱: </B>否</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px; font-weight:bolder;">其他说明</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; "><B>允许提前选取座位:</B>不允许</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>使用舱位:</B>S1舱</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>舱位组合:</B>允许</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>允许签转:</B>不允许</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">客票有效期为自出票之日起一年内有效。</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">客票所有航段须按顺序使用，否则该客票将会失效。</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">旅客乘坐的航班为代码共享航班时，所享受的服务以实际承运航空公司的规定为准，包括但不限于贵宾休息室、值机、里程累计等。</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">国内航班：请您于航班起飞前120分钟到达机场；国际航班：请您于航班起飞前180分钟到达机场。</P></TD>
</TR>
<TR>
<TD>
<BR></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px; font-weight:bolder;">Ticket Description</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; font-weight:bolder;">Rebooking Fee:</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;">Prior to flight departure：30%，After flight departure：50%.Passengers will also need to pay the difference in fare (if any).</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; font-weight:bolder;">Refund fees:</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;">Prior to flight departure：50%，After flight departure：Only the taxes and surcharges associated with unused legs can be refunded.， For refunds of partially used tickets, the refund amount will be calculated after deducting the fare and taxes corresponding to the flight segments used.</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px; font-weight:bolder;">Mileage Description</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>Extra Mileage Award:</B>No (Air China carried flights)</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; font-weight:bolder;">Mileage Accumulation:</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">S:50%(Rules may different for flights operated by other Airlines.)</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>Mileage Upgrade: </B>NO</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px; font-weight:bolder;">Other Description</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; "><B>Advance seat selection is allowed :</B>Non-Endorsable</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>Booking Class:</B>S1 Class</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>Combination:</B>Permit</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;"><B>Endorsable:</B>Non-Endorsable</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">The ticket is valid for one year from the date of issue.</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">Ticket must be used following the sequence of the flight segments, otherwise it will be void.</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">All services for code share flights should follow the rules of actual carrier airlines, including but not limited to VIP lounge, check-in service, mileage accumulation etc..</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; ">For your convenience, please arrive at the airport 2 hours before departure with domestic flight travel, while 2 hours and a half earlier before departure with international flight travel.</P></TD>
</TR>
<TR align="right">
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; font-weight:bolder;">航程费用总额Total： 300.0 CNY</P></TD>
</TR>
<TR align="right">
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px; font-weight:bolder;">优惠券折扣coupon： 0 CNY</P></TD>
</TR>
<TR style="background-color:#58bbc5;">
<TD>
<DIV width ="100%"><P style="MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; font-weight:bolder;">费用总计Total</P>
</DIV>
</TD>
</TR>
<TR>
<TD>
<TABLE width="100%"><TR><TD align="left"><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px;">支付方式Form of payment：</P></TD><TD align="left"><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px;">中国招商银行</P></TD><TD align="right"><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px; font-weight:bolder;">支付总额Total：</P></TD><TD align="right"><P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px; font-weight:bolder;">300元(人民币)</P></TD></TR></TABLE></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px;">如果您预订有任何疑问，请联系我们的销售服务热线: 95583，并提供您的订单号。感谢您使用国航移动客户端。</P></TD>
</TR>
<TR>
<TD>
<BR></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 12px;">If you have any questions, please contact Air China Hotline95583,and provide you order number. Thank you  for using Air China app.</P></TD>
</TR>
<TR>
<TD>
<BR></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;">此邮件为系统自动发送，请不要回复。</P></TD>
</TR>
<TR>
<TD>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 10px;">This email is automatically generated.Please do not reply to this email.</P></TD>
</TR>
</TABLE>
<BR></DIV><BR>
</DIV>
</DIV>
<DIV style="TEXT-ALIGN: center; MARGIN: 16px; COLOR: #888; FONT-SIZE: 12px; text-shadow: 1px 0px 0px #eee" class=mmsgLetterFooter><IMG style="WIDTH: 1px; HEIGHT: 1px" src=""> <IMG style="WIDTH: 1px; HEIGHT: 1px" src=""> 
</DIV></DIV></DIV></DIV></DIV></DIV></DIV></DIV></DIV></BLOCKQUOTE></DIV></DIV></BODY>