<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%5p]{%d} %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/Users/tanyanbing/Downloads/fes.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%5p]{%d} %m%n" />
		</layout>
	</appender>





	<category name="org.springframework">
		<level value="ERROR" />
	</category>

	<!-- 下面是打印mybatis语句的配置 -->
	<logger name="com.ibatis" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Connection" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Statement" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.ResultSet" additivity="true">
		<level value="DEBUG" />
	</logger>

	<logger name="bqlogger" additivity="false">
		<level value="debug" />
		
		<appender-ref ref="Console" />
	</logger>

	<root>
		<priority value="ERROR" />
		<appender-ref ref="Console" />
	</root>
</log4j:configuration>