<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fes.mapper.mileage.MileageMapper">
	<resultMap type="com.airchina.mileage.model.Mileage" id="mileage" autoMapping="true" />
	<parameterMap type="com.airchina.mileage.model.Mileage" id="mileage" />
	
	<select id="mileageInquiry" parameterType="String" resultType="com.airchina.mileage.model.Mileage">
   		select * from mileage_t where user_id=#{userID}
	</select>


	<select id="mileageAccumulation" parameterType="String" resultType="com.airchina.mileage.model.Mileage">
   		update mileage_t set MILEAGE_BALANCE = (MILEAGE_BALANCE + #{mileage}) WHERE user_id=#{userID}
	</select>
	
	
	<select id="mileageDeduction" parameterType="String" resultType="com.airchina.mileage.model.Mileage">
   		update mileage_t set MILEAGE_BALANCE = (MILEAGE_BALANCE - #{mileage}) WHERE user_id=#{userID}
   
	</select>


</mapper>
